<h1>Listing education</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Quotation</th>
    <th>Source</th>
  </tr>
<%= will_paginate @education %>
<div class="pagination">

<% @education.each do |education| %>
  <tr>
    <td><%=h education.author %></td>
    <td><%=h education.quotation %></td>
    <td><%=h education.source %></td>
    <td><%= link_to 'Show', education %></td>
    <td><%= link_to 'Edit', edit_education_path(education) %></td>
    <td><%= link_to 'Destroy', education, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</div>
</table>

<br />

<%= link_to 'New education', new_education_path %>