<h1>New computer</h1>

<% form_for(@computer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </p>
  <p>
    <%= f.label :resolution %><br />
    <%= f.text_field :resolution %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', computers_path %>